*{
	margin:0;
	padding:0;
	font-family: "montserrat", sans-serif;
}

/* navbar styling */
nav {
	width: 100%;
}

ul {
	list-style-type: none;
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

ul li {
	margin-left: 2.5rem;
	list-style: none;
	display: inline-block;
	color: #000;
	text-transform: uppercase;
}

ul li a:hover {
	color: #35b729;
	background-color: #fff;

}

ul li a{
	color: #000;
	text-decoration: none;
}

	
img {
	max-width: 100%;
    height: auto;
}

.toggle{
	width: 100%;
	padding: 20px 20px;
	background: #35b729;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}

.icon {
	position: absolute;
	top: 44%;
	left: 94%;
	transform: translate(-50%,-50%);
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #35b729; 
	}

.hamburger {
	width: 20px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}

.hamburger:before,
.hamburger:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}

.hamburger:before{
	top: -7px;
	left: 50%;
	transform: translate(-50%, 50%);
}

.hamburger:after{
	top: 7px;
	left: 50%;
	transform: translate(-50%,-50%);
}

.icon.move .hamburger{
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.move .hamburger:before{
	top: 0;
	transform: rotate(45deg);
}

.icon.move .hamburger:after{
	top: 0;
	transform: rotate(135deg);
}

/* section styling */


#about {
	background-color: #35b729;
	text-align: center;
	color: white;
}

#services {
	margin-top: 2.5rem
	padding-bottom: 5rem;
}


.text-content {
	padding: 2.5rem;
}

button {
	border: solid 1px #fff;
	background-color: #35b729;
	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px; 
}

button:hover {
	background-color: white;
	color: #35b729;
}

#res-btn,
#comm-btn{
	border-radius: 25px;
}

#learn-more{
	margin: 25px;
}

/*contact style*/
#contact{
	background-color: #35b729;
	text-align: center;
	color: white;
}

/*testimonial styling */

#testimonials{
	padding: 40px;
	background-color: #35b729;
	color: #434343;
	text-align: center;
}

.testimonial{
	background-color: #fff;
	padding: 30px;
	border-radius: 25px;

}


.testimonial img {
	width:100px;
	height:100px;
	border-radius: 50%;

}

.name {
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
	text-align: center;
}

.inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border{
	width: 160px;
	height: 5px;
	background-color: #fff;
	margin: 26px auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}

.stars{
	color: #35b729;
	margin-bottom: 20px;
}

.contact-icons{
	color: #fff;
	display: inline-block;
}


#slogan {
	text-align: center;
	font-style: italic;
}



footer {
	background-color: #35b729;
	color: #fff;
	text-align: center;
	padding: 20px;
}


@media screen and (max-width: 1200px) { 
	.col {
		flex: 100%;
		max-width: 80%
	}
}

@media screen and (max-width: 768px) { 
	.col {
		flex: 100%;
		max-width: 100%
	}

	.toggle {
		display: block;
	}

	ul {
		width: 100%;
		display: none;
		
	}

	ul li {
		display: block;
		text-align: center;
	}

	.active {
		display: block;
	}
}